/* base */
/* typography */
/* text-size */
/* typography-colors */
/* colors*/
/* btn-variables */
/* breakpoints */
/* grid variables */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
time,
details,
figcaption,
figure,
hgroup,
main,
menu,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
body {
  color: #252a3d;
  font: normal 14px "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  line-height: 1.2em;
  position: relative;
  background: #fff;
}
a {
  text-decoration: underline;
  color: #10c759;
  outline: none;
}
a:hover {
  color: #7cf4ac;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  font: 700 20px "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  line-height: normal;
}
h3 {
  font: 700 14px "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  line-height: normal;
}
ul {
  list-style-type: none;
}
ul li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  vertical-align: top;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/*
@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: url(../fonts/Lato/Lato-Black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SAPMedium';
  src:  url(../fonts/Benton-sans-medium/BentonSansMedium.woff2) format('woff2'),
        url(../fonts/Benton-sans-medium/BentonSansMedium.woff) format('woff'),
        url(../fonts/Benton-sans-medium/BentonSansMedium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAPBook';
  src:  url(../fonts/Benton-sans-book/BentonSansBook.woff2) format('woff2'),
  url(../fonts/Benton-sans-book/BentonSansBook.woff) format('woff'),
  url(../fonts/Benton-sans-book/BentonSansBook.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPcom icons";
  src:url('../fonts/sapcom-icon/sapcom-icons.eot');
  src:url('../fonts/sapcom-icon/sapcom-icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sapcom-icon/sapcom-icons.woff') format('woff'),
  url('../fonts/sapcom-icon/sapcom-icons.ttf') format('truetype'),
  url('../fonts/sapcom-icon/sapcom-icons.svg#sapcom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.library-sapcom-icons [class^="icon-"], .library-sapcom-icons [class*="icon-"] {
  font-family: "SAPcom icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before { content: "\e000"; }
.icon-arrow-right:before { content: "\e001"; }
.icon-close:before { content: "\e002"; }
.icon-download:before { content: "\e003"; }
.icon-email:before { content: "\e004"; }
.icon-environment:before { content: "\e005"; }
.icon-finance:before { content: "\e006"; }
.icon-globe:before { content: "\e007"; }
.icon-menu:before { content: "\e008"; }
.icon-playbutton:before { content: "\e009"; }
.icon-print:before { content: "\e00a"; }
.icon-search:before { content: "\e00b"; }
.icon-share:before { content: "\e00c"; }
.icon-social:before { content: "\e00d"; }

*/
/* end base */
/* layouts */
.red {
  background-color: #cf1b42;
}
.green {
  background-color: #b5cc49;
}
.grey {
  background-color: #ccc;
}
.blue {
  background-color: #0faaff;
}
.made-in {
  font-size: 10px;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-nex {
  background-image: url(../images/slider-arrow.png);
  height: 22px;
  background-position: 0 0;
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-nex {
  background-image: url(../images/slider-arrow.png);
  height: 22px;
  background-position: 0 -22px;
  right: 0;
}
.swiper-container {
  width: 760px;
}
.swiper-pagination {
  padding-left: 25px;
  text-align: left;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #cf1b42;
  transform: scale(1.67);
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}
/* flex grid */
.grid {
  display: flex;
  flex-wrap: nowrap;
}
.grid__item {
  box-sizing: border-box;
}
.grid_valign_center {
  align-items: center;
}
.grid_item-justify_space-between {
  justify-content: space-between;
}
.grid_item-justify_end {
  justify-content: flex-end;
}
.page-header_primary {
  padding: 25px 0;
}
.page-body {
  background-color: #fff;
  overflow: hidden;
}
.page-footer {
  color: #fff;
  font-size: 14px;
}
.page-footer_primary {
  padding: 50px 0 30px;
}
.page-footer_secondary {
  padding: 30px 0;
}
.content-wrapper {
  width: 1170px;
  margin: 0 auto;
}
.page-body__sidebar {
  width: 230px;
  display: inline-block;
  margin-right: 35px;
  position: relative;
  float: left;
}
.page-body__content {
  width: 900px;
  display: inline-block;
}
/* end layouts */
/* components */
.logo {
  display: inline-block;
}
.logo__item {
  width: 280px;
  height: 50px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat;
  opacity: 1;
}
.logo__item:hover {
  opacity: .5;
}
.logo_mode_footer .logo__item {
  width: 170px;
  height: 30px;
  background: url(../images/logo-small.png) no-repeat;
}
.logo_mode_made-in .logo__item {
  width: 70px;
  height: 20px;
  background: url(../images/logo-made-in.png) no-repeat;
}
.social-icons {
  text-align: center;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.social-icons__item {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  overflow: hidden;
  text-indent: 99999999px;
}
.social-icons__item:last-child {
  margin-right: 11px;
}
.social-icons__linked-in {
  background-image: url(../images/social-logo/linked-in-24.png);
}
.social-icons__facebook {
  background-image: url(../images/social-logo/facebook-24.png);
}
.social-icons__you-tube {
  background-image: url(../images/social-logo/youtube-24.png);
}
.social-icons__twitter {
  background-image: url(../images/social-logo/twitter-24.png);
}
.social-icons__slide-share {
  background-image: url(../images/social-logo/slideshare-24.png);
}
@media screen and (min-width: 768px) {
  .social-icons {
    text-align: right;
    margin-top: 0;
  }
}
@media screen and (min-width: 980px) {
  .social-icons__item {
    width: 24px;
    height: 24px;
  }
}
.footer-links {
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 1em;
}
.footer-links__item {
  color: inherit;
  display: block;
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer-links__item {
    display: inline-block;
    padding: 0 5px;
    position: relative;
  }
  .footer-links__item::after {
    position: absolute;
    content: '';
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: #fff;
    right: -1px;
  }
  .footer-links__item:last-child::after {
    display: none;
  }
}
/* buttons.less */
.button-wrapper_align_left {
  text-align: left;
}
.button-wrapper_align_right {
  text-align: right;
}
.button-wrapper_align_center {
  text-align: center;
}
/* posotion for button_icon (left or right) */
.button_icon-position_left {
  text-indent: 30px;
}
.button_icon-position_left::before {
  left: 25px;
}
.button_icon-position_right.button {
  padding: 13px 55px 13px 25px;
}
.button_icon-position_right::before {
  right: 25px;
}
.button {
  color: #fff;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  padding: 14px 20px;
  display: inline-block;
  position: relative;
  border-top: 3px solid;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}
.button_color_blue {
  background-color: #252a3d;
  border-color: #252a3d;
}
.button_color_blue:hover {
  border-color: #161928;
  background-color: #161928;
  color: #fff;
}
.button_color_blue:active {
  border-color: #0f1118;
  background-color: #252a3d;
}
.button_color_red {
  background-color: #cf1b42;
  border-color: #cf1b42;
}
.button_color_red:hover {
  border-color: #ae092d;
  background-color: #ae092d;
  color: #fff;
}
.button_color_red:active {
  border-color: #530b1a;
  background-color: #cf1b42;
}
.button_color_pink {
  border-top: 3px solid pink;
  border-color: pink;
  background-color: pink;
}
.button_color_pink:hover {
  border-top: 3px solid #ff97a9;
  background-color: #ff97a9;
  color: #fff;
}
.button_color_pink:active {
  border-top: 3px solid pink;
  background-color: #ffe9ed;
}
.button_color_yellow {
  border-top: 3px solid #fbc125;
  border-color: #fbc125;
  background-color: #fbc125;
}
.button_color_yellow:hover {
  border-top: 3px solid #f3b204;
  background-color: #f3b204;
  color: #fff;
}
.button_color_yellow:active {
  border-top: 3px solid #fbc125;
  background-color: #fccc4d;
}
/*.button_color_white.button__icon {
  color: @dark-blue;
  background-color: @white;
  border: none;

  &:hover {
    background-color: @dark-blue;
    color: @white;
  }


}*/
.button_color_white {
  color: #252a3d;
  background-color: #fff;
  border: 1px solid #d3d4d8;
  position: relative;
}
.button_color_white:hover {
  background-color: #d3d4d8;
  color: #252a3d;
}
.button_color_white:active {
  background-color: #fff;
}
.button_color_white::after {
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
}
.button_color_white:hover:after {
  background-color: #d3d4d8;
}
.button_color_white:active:after {
  background-color: #666666;
}
.button_icon_arrow::before {
  position: absolute;
  content: '';
  z-index: 2;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: '';
  background-image: url('../images/sprites/arrow.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.button_icon_add::before {
  position: absolute;
  content: '';
  z-index: 2;
  width: 20px;
  height: 14px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: '';
  background-image: url('../img/icons/traingle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.button_icon_add:hover::before {
  background-position: 0 -14px;
}
.button_icon_more::before {
  position: absolute;
  content: '';
  z-index: 2;
  width: 8px;
  height: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: '';
  background-image: url('../img/icons/small-traingle.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.button_width_full {
  width: 100%;
}
.navigation__item {
  display: inline-block;
  margin-right: 35px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: #666977;
  font-family: "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}
.navigation_footer .navigation__link {
  color: #f0f0f1;
  opacity: 1;
}
.navigation_footer .navigation__link:hover {
  opacity: .5;
}
.navigation_sidebar .navigation__item {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
}
.navigation_sidebar .navigation__link {
  color: #252a3d;
  font-family: "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 5px;
  width: 100%;
  border-bottom: 1px solid #d3d4d8;
}
.navigation_sidebar .navigation__item_has-children {
  position: relative;
}
.navigation_sidebar .navigation__item_has-children::after {
  position: absolute;
  content: '';
  z-index: 2;
  width: 12px;
  height: 6px;
  right: 5px;
  top: 20px;
  background: url(../images/sprites/arrow-red.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.navigation_sidebar .navigation__items_child {
  display: none;
  padding: 10px 0 20px 0;
  box-sizing: border-box;
}
.navigation_sidebar .navigation__items_child .navigation__link {
  font-weight: 500;
  text-transform: none;
  border: none;
  padding: 10px 5px;
}
.navigation_sidebar .navigation__items_child .navigation__link:hover {
  color: #fff;
  background-color: #252a3d;
  padding-left: 15px;
}
.navigation_sidebar .navigation__items_child .navigation__item_has-children::after {
  display: none;
}
.navigation_sidebar .navigation__items_child .navigation__item_category {
  display: inline-block;
}
.navigation_sidebar .navigation__items_child .navigation__item_category .navigation__link {
  font-size: 16px;
  color: #252a3d;
  font-weight: bold;
  padding: 15px 0 6px 0;
}
.navigation_sidebar .navigation__items_child .navigation__item_category .navigation__link:hover {
  color: #252a3d;
  background-color: transparent;
  padding: 15px 0 6px 0;
}
.navigation_sidebar .navigation__items_child .navigation__item_category-item .navigation__link {
  font-size: 14px;
  font-weight: normal;
  color: #666977;
  text-decoration: underline;
  padding: 5px 0 0;
  display: block;
  float: left;
}
.navigation_sidebar .navigation__items_child .navigation__item_category-item .navigation__link:hover {
  color: #666977;
  background-color: transparent;
  padding: 5px 0 0;
}
.navigation_sidebar .navigation__item_active.navigation__item_has-children::after {
  background-position: 0 -7px;
}
.navigation_sidebar .navigation__item_active .navigation__items_child {
  display: block;
}
.navigation_sidebar .navigation__item_active .navigation__item_has-children .navigation__link::after {
  position: absolute;
  content: '';
  z-index: 2;
  background-image: url(../images/traingle.png);
  width: 7px;
  height: 11px;
  background-size: cover;
  right: -2px;
  z-index: 4;
}
.navigation_sidebar .navigation__item_active .navigation__item_has-children .navigation__link .navigation__items-wrapper_level_3 {
  display: block;
}
.navigation_sidebar .navigation__items-wrapper_level_3 {
  position: absolute;
  top: -50px;
  left: 230px;
  height: 310px;
  padding: 10px 30px;
  box-sizing: border-box;
  width: 565px;
  border: 2px solid #ebeff0;
  background-color: #fff;
  z-index: 3;
}
.navigation_sidebar .navigation__items-wrapper_level_3 .navigation__items-wrapper {
  display: inline-block;
}
.navigation_sidebar .navigation__items-wrapper_level_3 .navigation__link {
  display: block;
}
.navigation_sidebar .navigation__items-wrapper_level_3 .navigation__link::after {
  display: none;
}
.navigation_sidebar .navigation__items-wrapper_level_3 .navigation__items.navigation__items_child {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 180px;
  max-height: 350px;
  float: left;
  justify-content: space-between;
  padding: 0;
}
.navigation_sidebar .product-item {
  display: inline-block;
  float: right;
  position: relative;
  height: 100%;
  padding-left: 35px;
}
.navigation_sidebar .product-item::before {
  position: absolute;
  content: '';
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 1px;
  height: 255px;
  background-color: #ccc;
  left: 0;
}
.navigation_header {
  width: 230px;
}
.navigation_header .navigation__item {
  display: block;
  position: relative;
  margin-right: 0;
  box-sizing: border-box;
}
.navigation_header .navigation__link {
  color: #fff;
  font-family: "Lato", Arial, Helvetica, MS Sans Serif, Geneva, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 18px 0;
  width: 100%;
  background-color: #cf1b42;
}
.navigation_header .navigation__link::after {
  position: absolute;
  content: '';
  z-index: 2;
  width: 12px;
  height: 6px;
  top: 20px;
  right: 25px;
  background: url(../images/sprites/arrow-white.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.navigation_header .navigation__items_child {
  display: none;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  z-index: 4;
}
.navigation_header .navigation__items_child .navigation__link {
  color: #252a3d;
  font-weight: 500;
  text-transform: none;
  border: none;
  padding: 10px 5px;
  background-color: transparent;
}
.navigation_header .navigation__items_child .navigation__link::after {
  display: none;
}
.navigation_header .navigation__items_child .navigation__link:hover {
  color: #fff;
  background-color: #252a3d;
}
.navigation_header .navigation__item_has-children .navigation__wrapper {
  position: absolute;
  width: 100%;
}
.navigation_header .navigation__item_has-children:hover .navigation__link::after {
  background-position: 0 -7px;
}
.navigation_header .navigation__item_has-children:hover .navigation__items_child {
  display: block;
  z-index: 4;
}
.navigation_profile .navigation__items_child {
  display: none;
  width: 100%;
  padding: 15px 20px 5px;
  position: absolute;
  top: 50px;
  left: 0;
  border: 2px solid #ebeff0;
  border-top: 0;
  background: #fff;
  box-sizing: border-box;
  z-index: 4;
}
.navigation_profile .navigation__items_child .navigation__item {
  display: block;
  padding-bottom: 10px;
}
.navigation_profile .navigation__items_child .navigation__link {
  color: #666977;
  text-decoration: underline;
}
.phone__number {
  color: #666977;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 15px;
}
.phone .button-wrapper {
  display: inline-block;
}
.phone_number-style_small {
  font-size: 12px;
  margin-right: 5px;
}
.promo-text {
  color: #fff;
  font-size: 14px;
  width: 230px;
  margin-top: 20px;
}
.list-box__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.list-box__content {
  max-height: 160px;
}
.list-box__link {
  color: #ffffff;
  opacity: .5;
  text-decoration: none;
  margin-bottom: 12px;
  display: inline-block;
}
.list-box__content_column {
  columns: 105px 2;
}
.icons__wrapper {
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.icons__item {
  display: inline-block;
}
.icons__link {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}
.icons__link:hover {
  opacity: .7;
}
.icons_mode_social {
  margin-top: 10px;
}
.icons_mode_social .icons__item {
  margin-right: 15px;
}
.icons_mode_social .icons__link {
  width: 30px;
  height: 20px;
}
.icons_mode_social .icons__link_twitter {
  background-image: url(../images/cosial-icons/twitter.png);
}
.icons_mode_social .icons__link_facebook {
  background-image: url(../images/cosial-icons/facebook.png);
}
.icons_mode_social .icons__link_google {
  background-image: url(../images/cosial-icons/gplus.png);
}
.icons_mode_cash .icons__wrapper {
  max-width: 300px;
}
.icons_mode_cash .icons__item {
  margin: 0 5px 5px 0;
}
.icons_mode_cash .icons__link {
  width: 50px;
  height: 30px;
  border-radius: 2px;
}
.icons_mode_cash .icons__link_visa {
  background-image: url(../images/cash-icons/visa.jpg);
}
.icons_mode_cash .icons__link_master-card {
  background-image: url(../images/cash-icons/mc.jpg);
}
.icons_mode_cash .icons__link_wm {
  background-image: url(../images/cash-icons/wm.jpg);
}
.icons_mode_cash .icons__link_qiwi {
  background-image: url(../images/cash-icons/qiwi.jpg);
}
.icons_mode_cash .icons__link_yandex-money {
  background-image: url(../images/cash-icons/ym.jpg);
}
.icons_mode_cash .icons__link_alfa-bank {
  background-image: url(../images/cash-icons/alfa.jpg);
}
.icons_mode_cash .icons__link_sber-bank {
  background-image: url(../images/cash-icons/sber.jpg);
}
.icons_mode_cash .icons__link_pay-pal {
  background-image: url(../images/cash-icons/pp.jpg);
}
.icons_mode_cash .icons__link_maestro {
  background-image: url(../images/cash-icons/maestro.jpg);
}
.icons_mode_cash .icons__link_cirrus {
  background-image: url(../images/cash-icons/cirrus.jpg);
}
.breadcrumbs__wrapper {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 20px 0;
}
.breadcrumbs__item {
  color: #252a3d;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 24px;
  position: relative;
  display: inline-block;
}
.breadcrumbs__item::after {
  content: '/';
  position: absolute;
  right: 10px;
  color: #252a3d;
}
.breadcrumbs__item:last-child {
  opacity: .7;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.form {
  /* placeholder for all brousers */
  /* end placeholder for all brousers */
  /* placeholder on focus for all brousers */
  /* end placeholder on focus for all brousers */
}
.form__wrapper {
  box-sizing: border-box;
}
.form__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.form__label {
  display: inline-block;
  margin-bottom: 5px;
}
.form__input {
  border-radius: 2px;
  box-sizing: border-box;
}
.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input:-ms-input-placeholder {
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.form__input:focus::-webkit-input-placeholder,
.form__input:focus::-moz-placeholder,
.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.form_sidebar {
  margin: 50px 0;
  /* placeholder for all brousers */
  /* end placeholder for all brousers */
}
.form_sidebar .form__wrapper {
  border: 2px solid #ebeff0;
  border-radius: 2px;
  width: 100%;
  display: inline-block;
  padding: 30px 20px;
}
.form_sidebar .form__input {
  padding: 15px 12px;
  border: 1px solid #ebeff0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.form_sidebar .form__input::-webkit-input-placeholder,
.form_sidebar .form__input:-moz-placeholder,
.form_sidebar .form__input:-ms-input-placeholder {
  color: #252a3d;
}
.form_header {
  /* placeholder for all brousers */
  /* end placeholder for all brousers */
}
.form_header .form__input {
  width: 465px;
  padding: 10px 20px;
  border: 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
}
.form_header .form__input::-webkit-input-placeholder,
.form_header .form__input:-moz-placeholder,
.form_header .form__input:-ms-input-placeholder {
  color: #666977;
}
.form_header .button-wrapper {
  display: inline-block;
  margin-left: -4px;
}
.form_header .button {
  border: 0;
  border-radius: 0 2px 2px 0;
  padding: 10px 30px;
}
.banner__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.banner_sidebar .banner__wrapper {
  padding: 30px 20px 20px;
  background-image: url(../images/banner-sidebar.jpg);
}
.banner_sidebar .promo-text {
  font-size: 18px;
  line-height: 1.2;
  width: auto;
  margin-top: 0;
}
.banner_sidebar .promo-text span {
  padding-top: 10px;
  display: inline-block;
}
.banner_sidebar .button-wrapper {
  margin-top: 30px;
}
.banner_sidebar .button {
  text-transform: uppercase;
}
.banner_index-page .banner-wrapper {
  background-image: url(..);
}
.search_header {
  width: 565px;
  max-height: 37px;
  overflow: hidden;
  border-radius: 2px;
}
.cart__item {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.cart__button {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 15px;
  background-image: url(../images/cart-icon.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.cart__count {
  font-size: 11px;
  padding: 1px 4px 0 3px;
  position: absolute;
  bottom: -5px;
  left: 10px;
  border-radius: 50%;
  background-color: #cf1b42;
}
.cart__cash-value {
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
  margin-left: 15px;
}
.logout__button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/logout-icon.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.logout__button:hover {
  opacity: .7;
}
.profile__wrapper {
  padding: 0 20px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  height: 50px;
  width: 160px;
}
.profile__wrapper:hover {
  background-color: #1d2233;
}
.profile__wrapper:hover .navigation__items_child {
  display: block;
}
.profile__avatar {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
}
.profile__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profile__name {
  color: #fff;
  font-size: 12px;
}
.profile__email {
  color: #fff;
  font-size: 10px;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  opacity: .8;
  overflow: hidden;
}
.media-info__wrapper {
  display: inline-block;
  margin: 50px 0 0;
  width: 410px;
}
.media-info__media_icon {
  display: inline-block;
  width: 40px;
  height: 80px;
  margin-right: 25px;
  position: relative;
  float: left;
  overflow: hidden;
}
.media-info__media_icon_guard::after {
  position: absolute;
  content: '';
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(../images/benefits/garantee.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.media-info__title {
  color: #252a3d;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.media-info__text {
  color: #7a7d89;
  font-size: 14px;
  line-height: 1.2em;
}
.media-info .button-wrapper_align_left {
  margin: 20px 0 0 65px;
}
.media-info .button {
  border: 1px solid #ebedf3;
}
.title-section {
  display: inline-block;
  padding: 15px 0 40px;
  text-align: left;
}
.title-section__item {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-section {
  padding: 65px 0 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.content-section_last {
  padding-bottom: 60px;
}
.product-item {
  text-align: center;
}
.product-item__wrapper {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 20px 15px 0 0;
}
.product-item__image {
  max-width: 130px;
  max-height: 100px;
}
.product-item__image img {
  max-width: 130px;
  max-height: 100px;
}
.product-item__info {
  margin-top: 15px;
}
.product-item__name {
  font-size: 12px;
  font-weight: 700;
  color: #252a3d;
  text-transform: uppercase;
  max-width: 126px;
  margin: 0 auto;
}
.product-item__price {
  font-size: 14px;
  display: block;
  margin: 15px auto 0;
}
.product-item__price_new {
  font-weight: 700;
  color: #41b492;
}
.product-item__price_old {
  margin-top: 5px;
  color: #666977;
  font-size: 12px;
  text-decoration: line-through;
}
.product-item__hot-wrapper {
  position: absolute;
  border-radius: 50%;
  background-color: #cf1b42;
  right: -15px;
  top: -12px;
}
.product-item__hot-value {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.feedback {
  max-width: 260px;
  margin-bottom: 20px;
}
.feedback .profile {
  width: auto;
  margin-bottom: 15px;
}
.feedback .profile__wrapper {
  padding: 0;
  overflow: hidden;
  display: block;
}
.feedback .profile__wrapper:hover {
  background-color: transparent;
}
.feedback .profile__avatar {
  clear: both;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.feedback .profile__avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.feedback .profile__name {
  color: #252a3d;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 9px;
}
.feedback .profile__location {
  display: block;
  font-size: 12px;
  color: #252a3d;
}
.feedback__description {
  font-size: 12px;
  color: #666977;
  display: inline-block;
}
.hit__slider {
  position: relative;
}
/* end components */
