/* typography */
/* text-size */
/* typography-colors */
/* colors*/
/* btn-variables */
/* breakpoints */
/* grid variables */
.content-section {
  padding: 65px 0 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
