/* typography */
/* text-size */
/* typography-colors */
/* colors*/
/* btn-variables */
/* breakpoints */
/* grid variables */
.list-box__title {
  color: #aaabb3;
  font-size: 14px;
  font-weight: 700;
}
