@import "../base/mixins";
@import "../base/variables";

/* flex grid */
.grid {
  //margin: 0 28px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.grid__item {
  //flex: 1 0 100%;
 // padding: 0 .8%;
  //min-height: 30px;
  box-sizing: border-box;
}

.grid_valign_center{
  align-items: center;
}

.grid_item-justify_space-between{
  justify-content: space-between;
}

.grid_item-justify_end{
  justify-content: flex-end;
}