@import "../base/variables";
@import "../base/mixins";

/* buttons.less */

// Wrapper for buttons
.button-wrapper {

  &_align_left {
    text-align: left;
  }
  &_align_right {
    text-align: right;
  }
  &_align_center {
    text-align: center;
  }
}

// Mixins for buttons
.button-color(@color) {
  .button-normal(@color);
}

.button-normal(@color) {
  border-top: 3px solid @color;
  border-color: @color;
  background-color: @color;

  &:hover {
    border-top: 3px solid darken(@color, 8%);
    background-color: darken(@color, 8%);
    color: #fff;
  }

  &:active {
    border-top: 3px solid @color;
    background-color: lighten(@color, 8%);
  }
}

.button-icon(@bg-color: '', @bg-img: '', @size-img: '') {
  &::before {
    .pseudo();
    .square(@size-img);
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: @bg-color;
    background-image: url(@bg-img);
    background-size: 100%;
    background-repeat: no-repeat;

  }
}

.button-icon-sprite (@bg-color: '', @bg-img: '', @width: '', @height:'') {
  &::before {
    .pseudo();
    width: @width;
    height: @height;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: @bg-color;
    background-image: url(@bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  &:hover {
    &::before {
      background-position: 0 -@height;
    }
  }
}

/* posotion for button_icon (left or right) */
.button_icon-position_left {
  text-indent: 30px;
  &::before {
    left: 25px;
  }
}

.button_icon-position_right {
  &.button {
    padding: 13px 55px 13px 25px;
  }
  &::before {
    right: 25px;
  }
}

// Button
.button {
  color: @white;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  padding: 14px 20px;
  display: inline-block;
  position: relative;
  border-top: 3px solid;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

// Creating of new buttons

.button_color_blue {
  background-color: #252a3d;
  border-color: #252a3d;

  &:hover {
    border-color: #161928;
    background-color: #161928;
    color: #fff;
  }

  &:active {
    border-color: #0f1118;
    background-color: #252a3d;
  }
}

.button_color_red {
  background-color: #cf1b42;
  border-color: #cf1b42;

  &:hover {
    border-color: #ae092d;
    background-color: #ae092d;
    color: #fff;
  }

  &:active {
    border-color: #530b1a;
    background-color: #cf1b42;
  }
}

.button_color_pink {
  .button-color(pink);
}

.button_color_yellow {
  .button-color(@yellow);
}

/*.button_color_white.button__icon {
  color: @dark-blue;
  background-color: @white;
  border: none;

  &:hover {
    background-color: @dark-blue;
    color: @white;
  }


}*/

.button_color_white {
  color: #252a3d;
  background-color: #fff;
  border: 1px solid #d3d4d8;
  position: relative;

  &:hover {
    background-color: #d3d4d8;
    color: #252a3d;
  }
 
  &:active {
    background-color: #fff;
  }

  &::after {
    .pseudo();
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
  }
}
.button_color_white:hover:after{
  background-color: #d3d4d8;
}

.button_color_white:active:after{
  background-color: #666666;
}
.button_icon_arrow {
  .button-icon('', '../images/sprites/arrow.png', 14px);
}

.button_icon_add {
  .button-icon-sprite('', '../img/icons/traingle.png', 20px, 14px);
}

.button_icon_more {
  .button-icon('', '../img/icons/small-traingle.png', 8px);
}

.button_width_full {
  width: 100%;
}